body {

margin: auto;
text-align: center;
background-image: url("https://www.cashadvance6online.com/data/archive/img/714288612.jpeg");
background-size: cover ;
background-size: 100%;
background-position: fixed;
background-repeat: no-repeat;

    
}

button {

text-align:center;
cursor: pointer;
background-color: burlywood;
color: brown;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
height: 50px;
width: 200px;
font-size: 25px;
justify-content: center;
overflow: hidden;


}

button:active {

transform: scale(1.1);

}